[submodule "deps/cldoc"]
	path = deps/cldoc
	url = https://github.com/jessevdk/cldoc.git
[submodule "share/games/darkling"]
	path = share/games/darkling
	url = git@github.com:hotgloupi/darkling
[submodule "src/libsoundio"]
	path = src/libsoundio
	url = https://github.com/hotgloupi/libsoundio.git
