[submodule ".config/tupcfg"]
	path = .config/tupcfg
	url = git@github.com:hotgloupi/tupcfg.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/freetype2"]
	path = deps/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "deps/cPython-2.7"]
	path = deps/cPython-2.7
	url = git@github.com:akheron/cpython
[submodule "deps/cPython-3.3"]
	path = deps/cPython-3.3
	url = git@github.com:akheron/cpython
